.login-box {
  padding: 25px;
  margin: 100px auto;
  background: #fff;
}
.login-box input[type="text"],
.login-box input[type="password"] {
  padding: 0 10px;
  height: 40px;
  margin: 5px auto;
}
.login-box .remember {
  margin-top: 20px;
  float: left;
}
.login-box button {
  margin: 15px 0!important;
}
